@{
    ViewData["Title"] = "LoginError";
}

<html>
<head>
    <title>Login Error</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Scripts/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <!--Sekcja wyświetlająca nieudane logowanie-->
    <div class="jumbotron">
        <div>
            <h3>Niestety nie udało się zalogować :(</h3> <br />
            <h3>Sprawdź czy dane są poprawne.</h3>
            <h3>Nie masz konta? @Html.ActionLink("Zarejestruj się", "Register", "Account")</h3>
        </div>
    </div>
    <hr />
</body>
</html>