@{
    ViewData["Title"] = "SentOpinion";
}

<html>
<head>
    <title>Sent opinion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Scripts/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <!--Sekcja wyświetlająca potwierdzenie przeslania opinii-->
    <div class="jumbotron">
        <div><h3>Użytkownik: @ViewBag.userName</h3></div>
        <div>
            @ViewBag.userContact
        </div>
    </div>
    <hr />
</body>
</html>
