@{
    ViewData["Title"] = "LentGame";
}

<html>
<head>
    <title>Lent game</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="@Url.Content("~/Scripts/Style.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <br />
    <!--Sekcja wyświetlająca informacje wypożyczenia-->
    <div class="jumbotron">
        <h2>Klient: @ViewBag.clientName </h2> <br />
        <h2>Wypożyczona gra: @ViewBag.clientGame</h2> <br />
        <h2>@ViewBag.clientOrder</h2>
    </div>
    <hr />
</body>
</html>