<div class="jumbotron">
    <div><h2>Fifa</h2></div>
    <div>
        Seria komputerowych gier sportowych o tematyce piłki nożnej,
        wyprodukowanych przez kanadyjski odłam amerykańskiego przedsiębiorstwa Electronic Arts, EA Sports.
        Nazwa pochodzi od organizacji FIFA, od której Electronic Arts wykupiło licencję na użycie owej nazwy.
        Pierwsza wersja (FIFA International Soccer) ujrzała światło dzienne w 1994 roku. Od tego czasu powstały liczne kontynuacje i podserie,
        między innymi FIFA Street osadzona w realiach futbolu ulicznego czy menedżer piłkarski FIFA Manager.
        Od wydania gry FIFA Football 2003 seria jest polonizowana, a w grze FIFA 06 po raz pierwszy dodano polski komentarz
        (w rolach komentatorów: Dariusz Szpakowski (od FIFA 06), Włodzimierz Szaranowicz (od FIFA 06 do FIFA 15) i Jacek Laskowski (od FIFA 16))
        oraz dodano polską ekstraklasę, lecz jej licencja wygasła w wersji FIFA 12.
        W FIFA 14 z powrotem pozyskano licencję na polską ekstraklasę i Reprezentację Polsk
    </div>
</div>