<div class="jumbotron">
    <div><h2>NBA</h2></div>
    <div>
        Komputerowa gra sportowa pozwalająca graczowi wcielić się w zawodnika (lub całą drużynę) najlepszej
        koszykarskiej ligi świata - NBA.
        Została stworzona przez Visual Concepts przy współpracy z 2K Sports.
    </div>
</div>