<div class="jumbotron">
    <div><h2>Mass Effect</h2></div>
    <div>
        Komputerowa fabularna gra akcji stworzona przez studio BioWare, wydana pierwotnie w 2007 roku przez
        Microsoft Game Studios na konsolę Xbox 360, będąca pierwszą częścią serii Mass Effect.
        Jej akcja rozgrywa się w XXII wieku, kiedy Drodze Mlecznej grozi zagłada ze strony superzaawansowanej
        rasy maszyn znanych jako Żniwiarze. Gracz wciela się w komandora Sheparda,
        elitarnego żołnierza próbującego powstrzymać inwazję.
        Rozgrywka składa się z kilku głównych elementów: wykonywania zadań, walki,
        eksplorowania kosmosu i interakcji z bohaterami niezależnymi.
    </div>
</div>