<div class="jumbotron">
    <div><h2>Star Wars - Battlefront</h2></div>
    <div>
        Gra komputerowa będącą połączeniem dwóch gatunków – strzelanki pierwszoosobowej i trzecioosobowej, wydana 31 października 2005
        przez LucasArts. Gra jest dostępna w wersjach na PlayStation 2, PlayStation Portable, Xboksa i system Windows.
        Pośród zmian wprowadzonych w stosunku do części pierwszej Star Wars: Battlefront w Battlefront II dodano grywalne
        postacie Jedi i Sithów, tryb walki w kosmosie oraz tryb fabularny, a żołnierzom-klonom zmieniono pancerze na takie
        jak widać w Zemście Sithów, stare są używane przez nich jedynie na pierwszej mapie – Geonosis.
        Data wydania była powiązana z wydaniem Zemsty Sithów na DVD.
    </div>
</div>