<div class="jumbotron">
    <div><h2>Gta</h2></div>
    <div>
        Seria gier komputerowych wydana przez firmę Rockstar Games. Jedna z najbardziej kontrowersyjnych serii gier komputerowych.
        Odniosła duży sukces komercyjny – sprzedano łącznie ponad 220 milionów egzemplarzy gier
    </div>
</div>