<div class="jumbotron">
    <div><h2>Sims</h2></div>
    <div>
        Komputerowa gra symulacyjna, stworzona przez firmę Maxis, a wydana 31 stycznia 2000 roku w Stanach Zjednoczonych
        przez Electronic Arts. Od czasu wydania sprzedała się w ponad szesnastu milionach kopii na całym świecie,
        dzięki czemu otrzymała tytuł najlepiej sprzedającej się gry na komputery osobiste w historii gier.
        The Sims nie posiada zdefiniowanego celu, jaki gracz ma osiągnąć. Gracz ma jedynie za zadanie organizowanie
        czasu kierowanym przez niego wirtualnym postaciom, zwanym Simami i pomaganie im w osiąganiu ich własnych celów rozwojowych.
        Z tego powodu gra może potencjalnie toczyć się w nieskończoność.
    </div>
</div>