<div class="jumbotron">
    <div><h2>Fifa</h2></div>
    <div>
        Seria komputerowych gier sportowych o tematyce piłki nożnej,
        wyprodukowanych przez kanadyjski odłam amerykańskiego przedsiębiorstwa Electronic Arts, EA Sports.
        Nazwa pochodzi od organizacji FIFA, od której Electronic Arts wykupiło licencję na użycie owej nazwy.
        Pierwsza wersja (FIFA International Soccer) ujrzała światło dzienne w 1994 roku. Od tego czasu powstały liczne kontynuacje i podserie,
        między innymi FIFA Street osadzona w realiach futbolu ulicznego czy menedżer piłkarski FIFA Manager.
        Od wydania gry FIFA Football 2003 seria jest polonizowana, a w grze FIFA 06 po raz pierwszy dodano polski komentarz
        (w rolach komentatorów: Dariusz Szpakowski (od FIFA 06), Włodzimierz Szaranowicz (od FIFA 06 do FIFA 15) i Jacek Laskowski (od FIFA 16))
        oraz dodano polską ekstraklasę, lecz jej licencja wygasła w wersji FIFA 12.
        W FIFA 14 z powrotem pozyskano licencję na polską ekstraklasę i Reprezentację Polsk
    </div>
</div>

<div class="jumbotron">
    <div><h2>Gta</h2></div>
    <div>
        Seria gier komputerowych wydana przez firmę Rockstar Games. Jedna z najbardziej kontrowersyjnych serii gier komputerowych.
        Odniosła duży sukces komercyjny – sprzedano łącznie ponad 220 milionów egzemplarzy gier
    </div>
</div>

<div class="jumbotron">
    <div><h2>Mass Effect</h2></div>
    <div>
        Komputerowa fabularna gra akcji stworzona przez studio BioWare, wydana pierwotnie w 2007 roku przez
        Microsoft Game Studios na konsolę Xbox 360, będąca pierwszą częścią serii Mass Effect.
        Jej akcja rozgrywa się w XXII wieku, kiedy Drodze Mlecznej grozi zagłada ze strony superzaawansowanej
        rasy maszyn znanych jako Żniwiarze. Gracz wciela się w komandora Sheparda,
        elitarnego żołnierza próbującego powstrzymać inwazję.
        Rozgrywka składa się z kilku głównych elementów: wykonywania zadań, walki,
        eksplorowania kosmosu i interakcji z bohaterami niezależnymi.
    </div>
</div>

<div class="jumbotron">
    <div><h2>NBA</h2></div>
    <div>
        Komputerowa gra sportowa pozwalająca graczowi wcielić się w zawodnika (lub całą drużynę) najlepszej
        koszykarskiej ligi świata - NBA.
        Została stworzona przez Visual Concepts przy współpracy z 2K Sports.
    </div>
</div>


<div class="jumbotron">
    <div><h2>Sims</h2></div>
    <div>
        Komputerowa gra symulacyjna, stworzona przez firmę Maxis, a wydana 31 stycznia 2000 roku w Stanach Zjednoczonych
        przez Electronic Arts. Od czasu wydania sprzedała się w ponad szesnastu milionach kopii na całym świecie,
        dzięki czemu otrzymała tytuł najlepiej sprzedającej się gry na komputery osobiste w historii gier.
        The Sims nie posiada zdefiniowanego celu, jaki gracz ma osiągnąć. Gracz ma jedynie za zadanie organizowanie
        czasu kierowanym przez niego wirtualnym postaciom, zwanym Simami i pomaganie im w osiąganiu ich własnych celów rozwojowych.
        Z tego powodu gra może potencjalnie toczyć się w nieskończoność.
    </div>
</div>

<div class="jumbotron">
    <div><h2>Star Wars - Battlefront</h2></div>
    <div>
        Gra komputerowa będącą połączeniem dwóch gatunków – strzelanki pierwszoosobowej i trzecioosobowej, wydana 31 października 2005
        przez LucasArts. Gra jest dostępna w wersjach na PlayStation 2, PlayStation Portable, Xboksa i system Windows.
        Pośród zmian wprowadzonych w stosunku do części pierwszej Star Wars: Battlefront w Battlefront II dodano grywalne
        postacie Jedi i Sithów, tryb walki w kosmosie oraz tryb fabularny, a żołnierzom-klonom zmieniono pancerze na takie
        jak widać w Zemście Sithów, stare są używane przez nich jedynie na pierwszej mapie – Geonosis.
        Data wydania była powiązana z wydaniem Zemsty Sithów na DVD.
    </div>
</div>